.menu{
    width: 100%;
    max-width: 100%;
    font-size: 1.2em;
}
.menu li{
    display: inline-block;
    padding: 5px;
    margin-bottom: 0;
    background-color : cornflowerblue;
    border-radius: 0;
}
.menu li:hover{
    box-shadow: none;
}
.menu ul{
    background-color : cornflowerblue;
}

.content {
    width: 100%;
}

